

<div id="about" class="container-fluid">
  <h2>About Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Nulla in ante nulla. Pellentesque pulvinar, nisi at dignissim consequat,
  mauris ante aliquet ligula, aliquam scelerisque magna enim in ex.
  Curabitur sed congue nisi. Cras blandit blandit sapien congue egestas.
  Nunc varius imperdiet aliquet. Nulla semper, sem id pretium tincidunt,
  nulla leo bibendum massa, imperdiet porta odio ex vel nunc.
  Quisque non nulla viverra, condimentum nisl sit amet, luctus ex. </p>

  <p>Cras rhoncus mi leo, nec accumsan mi egestas sed. Donec eu risus dui.
  Mauris ullamcorper metus vel condimentum vulputate. In interdum eleifend risus,
  ut ultrices ipsum iaculis eget. Integer iaculis purus facilisis auctor congue.
  Ut orci metus, mattis vel lectus nec, accumsan commodo est. Nunc quis rutrum erat,
  vel ultricies urna. Maecenas et eros eget leo convallis elementum non at tortor.
  Nunc sit amet metus ac nulla fringilla auctor. Proin sagittis nunc id ipsum congue,
  eu dignissim urna sodales.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Nulla in ante nulla. Pellentesque pulvinar, nisi at dignissim consequat,
  mauris ante aliquet ligula, aliquam scelerisque magna enim in ex.
  Curabitur sed congue nisi. Cras blandit blandit sapien congue egestas.
  Nunc varius imperdiet aliquet. Nulla semper, sem id pretium tincidunt,
  nulla leo bibendum massa, imperdiet porta odio ex vel nunc.
  Quisque non nulla viverra, condimentum nisl sit amet, luctus ex. </p>

  <p>Cras rhoncus mi leo, nec accumsan mi egestas sed. Donec eu risus dui.
  Mauris ullamcorper metus vel condimentum vulputate. In interdum eleifend risus,
  ut ultrices ipsum iaculis eget. Integer iaculis purus facilisis auctor congue.
  Ut orci metus, mattis vel lectus nec, accumsan commodo est. Nunc quis rutrum erat,
  vel ultricies urna. Maecenas et eros eget leo convallis elementum non at tortor.
  Nunc sit amet metus ac nulla fringilla auctor. Proin sagittis nunc id ipsum congue,
  eu dignissim urna sodales.</p>

</div>

<div id="contact" class="container-fluid">
  <h2>Contact Us</h2>
<form action="mailto:letscollab@40kstudios.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Message:<br>
<input type="text" name="message" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>

</div>

